apiVersion: apps/v1
kind: Deployment
metadata:
  name: "todo-app"
spec:
  selector: 
    matchLabels:
      app: "todo"
  replicas: 5
  template:
    metadata:
      labels:
        app: "todo"
    spec:
      containers:
      - image: {{ .Values.image_id }}
        imagePullPolicy: Always
        name: "todo"
        env:
          - name: DB_URL
            value: {{ .Values.db_endpoint}}
        ports:
        - containerPort: 5000